* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

/* h1, h2 {
  display: block;
  font-family: 'Londrina Shadow', cursive; */
}

/* h1.glowytext {
  font-size: 100px;
  color: red;
} */

p {
  font-family: 'Londrina Solid', cursive;
  margin: 10px 10px 20vw 20vw;
}

.tab h1 {
  text-decoration: none;
}

.glowytext {
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #252853, 0 0 30px #252853, 0 0 40px #252853, 0 0 55px #252853, 0 0 75px #252853, 2px 2px 2px rgba(37,40,83,0);
  color: #FFFFFF;
  font-family: 'Dosis', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 100px;
}

#mainContainer {
  background-color: purple;
}

#headerDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 7vw;
  margin: 20px 20px 10px 10px;
  /* opacity: 50%; */
  z-index: 2;
}

#LogoIcon {
  width: 300px;
  margin-left: 75px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}

.tab {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 175px;
  height: 75px;
  font-family: 'Dosis', Helvetica, Arial, sans-serif;
  font-weight:600;
  font-size: 15px;
  border-style: solid;
  border-radius: 2px;
  box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #252853, 0 0 30px #252853, 0 0 40px #252853, 0 0 55px #252853, 0 0 75px #252853, 2px 2px 2px rgba(37,40,83,0);
  /* padding: 15px 15px 15px 15px; */
  -webkit-transition: -webkit-box-shadow 100ms ease-out;
}

.tab:hover {
  -webkit-transition: -webkit-box-shadow 100ms ease-in;
  -webkit-box-shadow: 0px 0px 15px 5px #F731B8;
  box-shadow: 0px 0px 15px 5px #F731B8;
}

#MixtapesIcon {
  width: 75px;
}

#heroDiv {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(to bottom, black 0%, #4007A4 100%); */
  /* background-color: black; */
  /* background-image: url("Assets/MixtapesCollection.jpeg");
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px); */
  /* z-index: 1; */
}

.backgroundhero {
  display: flex;
  position: absolute;
  background-image: url("Assets/MixtapesCollection.jpeg");
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  width: 100vw;
  height: 100vh;
}

#cityLights {
  display: flex;
  position: relative;
  justify-content: center;
  object-fit: cover;
  object-position: center;
  /* right: 0;
  bottom: 0; */
  width: 100%;
  height: 100%;
}

#herotext {
position: absolute;
text-align: center;
align-self: center;
font-size: 200px;
}

#newAlbumDiv {
  background-color: #A2338B;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.newAlbumCoverDiv {
  display: flex;
  width: 50%;
  height: 100vh;
  justify-content: center;
  min-height: 100vh; // height of the browser viewport
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: blue; */
}

.newAlbumCover {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  height: 35vw;
  align-self: center;
  position: relative;
  justify-content: center;
}

iframe.spotify{
  position: relative;
  width: 100%;
}

.newAlbumTextDiv {
  display: flex;
  width: 50%;
  height: auto;
  /* background-color: red; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#newMusicVideoDiv {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 100px;
}

.newMusicVideo iframe {
  display: flex;
  width: 60vw;
  height: 60vh;
  display: flex;
  position: relative;
  padding: 20px 20px 20px 20px;
}

.newMusicVideo {
  display: flex;
  align-self: center;
  width: 100vw;
  height: auto;
  position: relative;
}

.newMusicVideoTextDiv{
  display: flex;
  width: 50%;
  position: relative;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-self: center;
  margin-top: 100px;
}

#accomplishmentsDiv {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.accomplishmentsDiv h1 {
  display: flex;
  position: absolute;
}

#membersDiv {
  /* background-color: black; */
  background-image: url("Assets/purplemixtapes.png");
  width: 100vw;
  height: 100vh;
}


.membersTitle {
  display: flex;
  position: relative;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
}

.membersGridDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.membersgrid {
  display: grid;
  width: 65%;
  height: 65%;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr;
  padding: 10px;
  /* grid-gap: 20px; */
  /* align-items: stretch; */
  }

.member-grid {
  text-align: center;
  padding: 5px;
}

  .member-grid img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* https://codepen.io/codewithJahid/pen/JRPvBj?css-preprocessor=scss */
      -webkit-transition: all .8s ease-in-out;
  }

  .member-grid img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.11);
  }
